/*CSS file for Prescriptions page, or prescriptions.html (special CSS sheet because it has a table)*/

* /*for all text on page*/
{
    font-family: Helvetica;
}

body
{
    background-color: #00b6ff; /*this is a nice shade of blue*/
}

h1
{
    text-align: center;
}

h2
{
    text-align: center;
}

/*ALL TABLE THINGS*/

/*table width*/
table
{
    width: 80%;
}

/*padding set reasonably to keep spacing good*/
th, td
{
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    /*border-bottom property creates horizontal dividers*/
}
